.calendar__wrapper {
  display: flex;
  color: $bright-color;
  align-items: center;
}

.calendar__btn {
  background-color: white;
  border: none;
  background-image: url("../img/calendar.png");
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: 1.8rem 2.1rem;
  cursor: pointer;

}

.calendar__data {
  padding: 0 1rem;
}

.calendar {

  &:hover {
    border-color: $hover-select;
    cursor: pointer;
  }

  &:focus {
    color: $focus-select;
  }
}
