  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
      local("Oswald Regular"),
      url("../fonts/open-sans-regular.woff2") format("woff2"),
      url("../fonts/open-sans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
